.sub-menu {
    position: absolute;
    background: aqua;
    display: none;
}

.sub-menu a {
    /* background: burlywood; */
    display: block;
    text-decoration: none;
    padding: 10px;
}

.sub-menu a:hover {
    background-color: bisque;
}